<h1>Welcome to home page of Admin</h1>
<hr />
<a asp-controller="Laptop" asp-action="Index">Laptops</a>
<br />
<hr />
<a asp-controller="Seller" asp-action="Index">Sellers</a>|
<a asp-controller="Customers" asp-action="Index">Customers</a>
